
# # mise config files are hierarchical. mise will find all of the config files
# # in all parent directories and merge them together.
# # You might have a structure like:
#
# * ~/work/project/mise.toml   # a config file for a specific work project
# * ~/work/mise.toml           # a config file for projects related to work
# * ~/.config/mise/config.toml # the global config file
# * /etc/mise/config.toml      # the system config file
#
# # This setup allows you to define default versions and configuration across
# # all projects but override them for specific projects.
#
# # set arbitrary env vars to be used whenever in this project or subprojects
# [env]
# NODE_ENV = "development"
# NPM_CONFIG_PREFIX = "~/.npm-global"
# EDITOR = "code --wait"
#
# mise.file = ".env"                # load vars from a dotenv file
# mise.path = "./node_modules/.bin" # add a directory to PATH


[tasks.check]
description = "Run rust checks"
depends = ['clippy', 'fmt', 'test']

[tasks.fmt]
description = "Check rust code formatting"
run = '''
# running cargo fmt --check then running it to just fix things
cargo fmt --all --check || true
cargo fmt --all
'''

[tasks.test]
description = "Run rust tests"
run = "cargo test --quiet"

[tasks.clippy]
description = "Run an aggressive clippy"
run = "cargo clippy --all-targets --all-features --quiet"

[tasks.semgrep]
description = "Run semgrep"
run = "just semgrep"

[tasks.biome]
description = "Run biome lint"
run = '''
biome check static/*.css
biome check templates/*.html
'''

[tools]
biome = "latest"
semgrep = "latest"
