<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}httpet admin</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <header>
            <h1><a href="/">httpet</a> <a href="/admin/">admin</a></h1>
            <p>{% block subtitle %}{% endblock %}</p>
        </header>
        <main>
            {% block content %}{% endblock %}

        </main>
    </body>
</html>
