{% extends "base_template.html" %}

{% block title %}{{ name }} status codes - {{ super() }}{% endblock title %}
{% block subtitle %}Status codes for {{ name }}.{{ base_domain }}{% endblock subtitle %}

{% block content %}
<section class="card">
  <h2>Available images</h2>
  {% if status_codes.len() == 0 %}
  <p>No status images found yet.</p>
  {% else %}
  <div class="grid">
    {% for status in status_codes %}
    <div class="status-card">
      <div class="status-code">
        <a href="{{ status_link_prefix }}/{{ status.code }}"><strong>{{ status.code }}</strong></a>
        <span class="status-name">{{ status.name }}</span>
      </div>
      <p class="status-summary">{{ status.summary }}</p>
      <a class="status-link" href="{{ status.mdn_url }}">[MDN]</a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</section>
{% endblock content %}